  .listdiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin-top: 40px;
  }

  .tableclass{
    padding: 20px;
    width: 50%;
    margin-top: 20px
  }